# 4.6 Combining & Exporting Data

## This script contains the following points:

### 1. Import the orders_products_combined dataframe 
### 2. Check the shape of the imported dataframe
### 3. Determine a suitable way to combine the orders_products_combined dataframe
### 4. Confirm the results of the merge using the merge flag.
### 5. Export the newly created dataframe as orders_products_merged

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

### 1. Import the orders_products_combined dataframe

In [2]:
path = r'/Users/berk/Instacart_Grocery_Basket_Analysis'

In [3]:
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02_Data','Prepared_Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

### 2. Check the shape of the imported dataframe

In [5]:
df_ords_prods_comb.shape

(32434489, 11)

#### It should be the same as the one you exported â€” always check!  Yes it is same.

### 3. Determine a suitable way to combine the orders_products_combined dataframe

In [6]:
# Import 'products_cleaned.csv'

df_prods_cleaned = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'products_cleaned.csv'), index_col = False)

In [7]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods_cleaned.shape

(49672, 6)

In [9]:
# Dropping '_merge' column from 'orders_products_combined.pkl'

df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [10]:
df_ords_prods_comb.shape

(32434489, 10)

In [11]:
# Merging two DataFrames: 'orders_products_combined.pkl' and 'products_cleaned.csv'

df_ords_prods_merged = df_ords_prods_comb.merge(df_prods_cleaned, on = 'product_id', indicator = True)

### 4. Confirm the results of the merge using the merge flag.

In [12]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [13]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### 5. Export the newly created dataframe as orders_products_merged

In [14]:
# Export data to pkl

In [15]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02_Data','Prepared_Data', 'orders_products_merged.pkl'))